.highlights-container {
  .display-flex();
  .flex-wrap(wrap);
  max-width: 1000px;
  margin: 30px auto;
  font-family: @logo2;
  text-transform: uppercase;
  .justify-content(center);
  .voterguide {
    .flex(0 0 90%);
    margin: 1%;
    border: 1px solid @light-gray;
    padding: 10px 25px 25px 25px;
    text-transform: none; 
    @media @tablet {
      .flex(0 0 86%);
      margin: 10px 10px 10px 10px;
      
    }
    @media @shortlogobreak {
      .flex(0 0 80%);
      padding: 15px 20px 15px 20px;
    }
    a {
        text-transform: uppercase; 
        border-bottom: 4px solid #ccc;
        font-weight: 600;
         &:hover{
          border-bottom-color: darken(@red,10%);
        }
      }
    .inner-voterguide {
      text-align: center;
      
     
    }
    .inner-voterguide:first-child {
      font-size: 4vw;
      font-weight: 700;
      line-height: 1.3;
      padding-bottom: 10px;
      @media @shortlogobreak {
        font-size: 22px;
      }
    }
    .inner-voterguide:last-child {
      font-size: 20px;
     
      
    }
  }
  .highlight {
    .flex(0 0 42%);
    border: 1px solid @light-gray;
    padding: 10px 20px 10px 20px;
    margin: 1%;
    @media @tablet {
      .flex(0 0 40%);
      margin: 0 4px;
    }
    .inner-highlight-flex {
      margin: auto;
      .display-flex();
      .flex-wrap(wrap);
      align-items: center;
      justify-content: space-between;
      vertical-align: middle;
      height: 100%;
    }
    @media @shortlogobreak {
      .flex(0 0 80%);
      border: none;
      border-bottom: 1px solid @light-gray;
      padding: 15px 10px 15px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .highlight-text {
      margin-left: 2%;
      .flex(0 0 78%);
    }
    .highlight-icon {
      .flex(0 0 20%);
      width: 100%;
      height: auto;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .highlight-deck {
      text-transform: none;
      font-family: @graphics;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
    }
    .highlight-hed {
      font-weight: 800;
      font-size: 18px;
      .fa {
        padding-right: 10px;
        display: none;
      }
    }
    &:hover {
      background: lighten(@light-gray,10%);
    }
  }
}
