.highlights-container {
  .display-flex();
  .flex-wrap(wrap);
  max-width: 1000px;
  margin: 30px auto;
  font-family: @logo2;
  text-transform: uppercase;
  .justify-content(center);
  .voterguide {
    .flex(0 0 91%);
    margin: 1%;
    border: 1px solid @light-gray;
    padding: 10px 20px 10px 20px;

    text-align: center;
    font-size: 2.75vw;
  }
  .highlight {
    .flex(0 0 42%);
    border: 1px solid @light-gray;
    padding: 10px 20px 10px 20px;
    margin: 1%;
    @media @tablet {
      .flex(0 0 40%);
      margin: 0 4px;
    }
    .inner-highlight-flex {
      margin: auto;
      .display-flex();
      .flex-wrap(wrap);
      align-items: center;
      justify-content: space-between;
    }
    @media @shortlogobreak {
      .flex(0 0 80%);
      border: none;
      border-bottom: 1px solid @light-gray;
      padding: 15px 10px 15px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .highlight-text {
      margin-left: 2%;
      .flex(0 0 78%);
    }
    .highlight-icon {
      .flex(0 0 20%);
      max-width: 70px;
      max-height: 70px;
      img {
        width: 100%;
      }
    }
    .highlight-deck {
      text-transform: none;
      font-family: @graphics;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
    }
    .highlight-hed {
      font-weight: 800;
      font-size: 18px;
      .fa {
        padding-right: 10px;
        display: none;
      }
    }
    &:hover {
      background: lighten(@light-gray,10%);
    }
  }
}
