.states {
  // fill: #b2b2b2;
  // z-index: -1;
  stroke: #595959;//black;//white;//@light-gray;
  stroke-linejoin: round;
  stroke-width: 1px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    // cursor: pointer;
  }
  &.active {
    opacity: 1;
    // stroke: @light-gray;//@light-gray;
    stroke-width: 2px;
  }
}
.state-paths {
  stroke: white;
  stroke-width:2;
  fill: none;
}
#house-CA-map, #assembly-CA-map, #senate-CA-map {
  .states {
    &:hover {
      cursor: pointer;
    }
  }
}

// .svg-container {
//   border: 2px solid black;
// }

.easing-class {
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}

.big-map-container {
  .display-flex();
  .flex-wrap(wrap);
  padding: 0 20px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  @media @mobile {
    margin-bottom: 40px;
  }
  .big-map {
    position: relative;
    .flex(0 0 49%);
    @media @mobile {
      .flex(0 0 100%);
    }
    .reset-state-map {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 800;
      padding: 2px 10px;
      border: 2px solid @dark-gray;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      font-family: Lora;
      letter-spacing: 0;
      background: white;
      z-index: 50;
      &:hover {
        background: lighten(@light-gray,15%);
      }
    }
  }
  .map-info-scrolly {
    .flex(0 0 49%);
    height: 400px;
    margin-left: 1.5%;
    overflow-y: scroll;
    border: 1px solid @light-gray;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 4px 9px -6px @dark-gray, inset 1px -4px 9px -6px @dark-gray;
    -moz-box-shadow: inset 1px 4px 9px -6px @dark-gray, inset 1px -4px 9px -6px @dark-gray;
    box-shadow: inset 1px 4px 9px -6px @dark-gray, inset 1px -4px 9px -6px @dark-gray;
    background: #f8f8f8;
    @media @mobile {
      .flex(0 0 100%);
      margin: 0;
      margin-top: 15px;
      height: 300px;
    }
  }
}

.map-header {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  @media @mobile {
    padding: 0 20px;
    width: auto;
  }
}

.house-hed, .assembly-hed, .statesenate-hed {
  margin-top: 30px;
  margin-bottom: 20px;
}
.instructions {
  font-size: 14px;
  padding-left: 10px;
  &.top {
    margin-top: -10px;
    padding-left: 0;
  }
  &.left {
    padding-left: 0;
  }
  .fa {
    padding-right: 5px;
  }
  padding-bottom: 15px;
}

.map-info-scrolly {
  font-weight: 400;
  font-size: 14px;
  .state-name {
    font-weight: 600;
    border-bottom: 1px solid @light-gray;
    margin-bottom: 2px;
    font-size: 16px;
  }
  .fa {
    padding-right: 5px;
  }
  .precincts-info {
    font-style: italic;
    color: @dark-gray;
  }
  .map-entry {
    padding: 10px;
    margin: 2px;
    &:hover {
      cursor: pointer;
      background: lighten(@light-gray,15%);
    }
    &.active {
      background: lighten(@light-gray,10%);
      border: 2px solid @dark-gray;
      margin: 0;
    }
  }
}

.svg-container {
  overflow: hidden;
}
