.states {
  // fill: #b2b2b2;
  z-index: -1;
  stroke: white;
  stroke-linejoin: round;
  stroke-width: 0.3px;
  &:hover {
    opacity: 0.7;
    // cursor: pointer;
  }
}
.state-paths {
  stroke: white;
  stroke-width:2;
  fill: none;
}
#map-container-state, #map-container-federal, #presidentMap_States-container {
  .states {
    stroke-width: 1px;
  }
}

.big-map-container {
  .display-flex();
  .flex-wrap(wrap);
  .big-map {
    .flex(0 0 50%);
  }
  .map-info-scrolly {
    .flex(0 0 50%);
  }
}

.house-hed, .assembly-hed, .statesenate-hed {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;

}
