.election-banner {
  max-width: 800px;
  margin: auto;
  margin-top: -10px;
  img {
    width: 100%;
    line-height: 1;
  }
}

// TAKE THIS OUT WHEN WE MOVE THE SF MAYOR RACE---------------------------

.sfmayor-inner-flex {
  border-bottom: 2px solid @highlight;
  border-top: 2px solid @highlight;
  background: lighten(@light-gray,15%);
  font-weight: 800;
  margin: auto;
  margin-top: 20px;
  @media @mobile {
    width: 100%;
  }
  #sfmayor-race-topraces {
    padding: 20px;
    padding-bottom: 0;
  }
  .addntl-text {
    font-size: 16px;
    line-height: 1.4;
    padding: 20px;
    font-weight: 400;
  }
  .race-block {
    padding-top: 0;
  }
}

#top-races-container {
  padding: 0;
}

#governor-race-topraces, .regional-callout-flexy {
  display: none;
}

.highlights-container {
  margin-bottom: 0 !important;
}


// TAKE THIS OUT WHEN WE MOVE THE SF MAYOR RACE---------------------------

// PUT THIS BACK!!!!!---->
// .top-flex-container, .regional-callout-flexy {
//   .display-flex();
//   .flex-wrap(wrap);
//   max-width: 1400px !important;
//   margin: auto;
//   width: 90% !important;
//   @media @mobile {
//     width: auto !important;
//     padding: 0 0 20px 0;
//   }
//   .justify-content(center);
//   .inner-flex {
//     .flex(0 0 48%);
//     margin: 0 1%;
//     @media @mobile {
//       margin: 0;
//       .flex(0 0 100%);
//     }
//   }
//   .regional-callout {
//     .flex(0 0 48%);
//     margin: 0 1%;
//     padding: 0;
//     padding-top: 50px;
//     @media @mobile {
//       .flex(0 0 90%);
//       // display: block;
//       padding: 0 20px;
//       padding-top: 20px;
//     }
//     @media @mini-mobile {
//       padding: 0 10px;
//     }
//     .prop-icon {
//       display: none;
//     }
//     .prop-info {
//       .prop-name {
//         @media @mobile {
//           text-align: left;
//         }
//       }
//       margin-left: 0;
//       .flex(0 0 100%);
//     }
//   }
// }
// <------ PUT THIS BACK!!!!!

.related-story-link {
  font-size: 16px;
  font-family: @logo2;
  font-weight: 600;
  margin-left: 15px;
  text-transform: uppercase;
  @media @mobile {
    padding-bottom: 10px;
  }
  .fa {
    padding-right: 5px;
  }
  white-space: nowrap;
  &:empty {
    padding: 0;
    margin: 0;
  }
}

.divider {
  border-bottom: 1px @light-gray solid;
  max-width: 900px;
  margin: auto;
}

#slink::after {
  content: "California";
  @media @mobile {
    content: "CA";
  }
}

.party-abbrev-container {
  .display-flex;
  .flex-wrap(wrap);
  padding: 0 20px;
  width: auto;
  .abbrev {
    font-size: 14px;
    .flex(0 0 33%);
    padding: 2px 0;
    font-family: @graphics;
    @media @mobile {
      font-size: 12px;
      .flex(0 0 50%);
      .justify-content(center);
      text-align: left;
      // padding: 4px;
    }
  }
  .abbrev-symbol {
    font-family: @graphics;
    font-weight: 600;
  }
  padding-bottom: 50px;
  @media @mobile {
    padding-bottom: 40px;
  }
}

.extra-explanation{
  line-height: 1.2;
  padding: 5px 0;
}

.email-us {
  font-size: 16px;
  // font-style: italic;
  font-family: @graphics;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  max-width: 600px;
  margin: auto;
  @media @mobile {
    padding: 0 20px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  a {
    text-decoration: underline;
  }
}

.br {
  height: 30px;
  margin: auto;
  @media @mobile {
    height: 10px;
  }
}

.symbol-container, .party-abbrev-container {
  font-family: @graphics;
  text-align: center;
}

body {
  font-family: @graphics;
  font-weight: normal;
  letter-spacing: 0;
}

#stick-ph {
  height: 37px;
  display: none;
}

.page-hed {
  font-family: @logo2;
  font-weight: 800;
  text-align: center;
  margin: auto;
  font-size: 40px;
  margin-top: 30px;
  background: @highlight;
  color: white;
}

.intro {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: @graphics;
  font-weight: 600;
  padding: 10px;
  line-height: 1.2;
  @media @mobile {
    padding: 20px 10px;
  }
}

.center-logo {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  img {
    height: 20px;
  }
}

#social-links{
  text-align:center;
  margin-top: -30px;
  a{
  color: #4c4c4c;
  }

  .link{
  font-size:1.2em;
    @media @mobile{
      font-size:0.9em;
    }
  }

  @media @mobile{
  margin-top:-15px;
  }
}

.sub-title-links {
  margin:0 auto;
  font-family: @logo;
  font-weight: 400;
  text-align: center;
  max-width:900px;
  @media @mobile {
    margin: 0 10px;
  }

  .sub-title {
    display: inline-block;
    border-bottom: 4px solid @light-gray;
    padding: 10px 5px 0px;
    margin: 0 10px;
    cursor: pointer;
    &.activelink {
      background: @light-gray;
      @media @mobile {
        height: 27px;
      }
    }

    &:hover{
      border-bottom-color: darken(@red,10%);
    }

    @media @mobile{
      font-size:18px;
      font-weight: 600;
    }
    &.sub-sub-title {
      display: inline-block;
      border-bottom: 4px solid @light-gray;
      padding: 10px 5px 0px;
      margin: 0 10px;
      font-size: 16px;

      cursor: pointer;
      &.bayarea {
        font-size: 20px;
      }
      @media @mobile {
        display: none;
      }

      // &:nth-child(1){
      // margin-left:0;
      // }

      &:hover{
        border-bottom-color: darken(@red,10%);
      }

    }
  }
  #r {
    display: none;
    &.showme {
      display: inline-block;
    }
    @media @mobile {
      display: inline-block;
    }
  }
}

.share-block, .logo-link {
  display: none;
}

.fixed {
  -webkit-box-shadow: 0 0 6px 0 @dark-gray;
  -moz-box-shadow: 0 0 6px 0 @dark-gray;
  box-shadow: 0 0 6px 0 @dark-gray;
  background-color: lighten(@light-gray,10%);
  // opacity: 0;
  // -webkit-transition: opacity 500ms linear;
  // -ms-transition: opacity 500ms linear;
  // transition: opacity 500ms linear;
  // &.displayclass {
  //   -webkit-transition: opacity 500ms linear;
  //   -ms-transition: opacity 500ms linear;
  //   transition: opacity 500ms linear;
  //   opacity: 1;
  // }
  .sub-title-links {
    text-align: left;
    display: inline-block;
    padding-left: 10px;
  }

  .sub-title {
    border-bottom: 0px;
    padding: 2px 10px;
    margin: 0;

    @media @mobile{
      height: 37px;
      padding: 5px 10px;
      top: 0;
    }

  }
  .logo-link {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding-left: 3px;
    .desk-logo {
      @media @shortlogobreak {
        display: none;
      }
    }
    .mobile-logo {
      display: none;
      @media @shortlogobreak {
        display: inline-block;
      }
    }
  }

  .share-block {
    float: right;
    vertical-align: text-top;
    display: block;

     @media (max-width:600px){
      display:none;
    }

    .link {
      padding-top: 2px !important;
      margin-top: 0 !important;
    }
  }
}

.key, .result {
  font-size: 16px;
  .fa {
    padding-right: 3px;
  }
}

.key {
  .fa-star {
    font-size: 16px;
    color: @dark-gray;
    vertical-align: baseline;
  }
  @media @mobile {
    padding-top: 20px;
  }
}

.fa-check-circle-o {
  color: @green2;
}
.fa-times-circle-o {
  color: @red;
}

.result {
  padding: 10px 0;
  .propyes, .propno {
    font-family: @logo;
  }
  .propno {
    margin-left: 10px;
  }
  .yesresult {
    border-bottom: 2px solid @green2;
  }
  .noresult {
    border-bottom: 2px solid @red;
  }
  .prop-precincts {
    font-size: 12px;
    font-style: italic;
    padding-top: 8px;
  }
}

.props-container, .races-container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  @media @mobile {
    width: auto;
    padding: 0 20px;
  }
}

.races-hed {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -10px;
  @media @mobile {
    // width: 100%;
    margin: 0 20px -10px 20px;
    width: auto;
    padding: 0;
  }
}

.propositions-list {
  .display-flex();
  .flex-wrap(wrap);
  .prop-group {
    .flex(0 0 50%);
    padding: 20px 0;
    @media @tablet {
      .flex(0 0 100%);
      padding-bottom: 0;
    }
  }
}
.prop-inner-flexy {
  .display-flex;
  .flex-wrap(wrap);
  .align-items(center);
}
.prop-icon {
  .flex(0 0 30%);
  max-width: 90px;
  text-align: right;
  // padding: 2px;
  @media @mobile {
    padding: 0;
  }
  img {
    width: 100%;
  }
}
.prop-info {
  // display: inline-block;
  .flex(0 0 65%);
  margin-left: 5%;
  line-height: 1.2;
  .prop-name {
    font-family: @graphics;
    font-weight: 600;
    // padding-bottom: 5px;
  }
  .prop-subname {
    font-size: 16px;
    border-bottom: 1px solid @light-gray;
    padding-bottom: 5px;
    display: inline-block;
  }
  .prop-desc {
    padding-top: 5px;
    font-size: 16px;
  }
}

.tooltip {
  font-size: 14px;
  z-index: 50;
  font-family: @graphics;
  padding: 10px;
  border-radius: 3px;
  background: lighten(@light-gray,20%);
  border: 1px @dark-gray solid;
  min-width: 140px;
  position: absolute;
  .fa-check-circle-o {
    color: green;
    margin-right: 5px;
  }
  .no-class {
    padding-left: 5px;
  }
  .result-map {
    font-family: @logo2;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    // padding-top: 3px;
  }
  // .precincts-info {
  //   font-style: italic;
  // }
  .state-name {
    font-family: @graphics;
    margin-bottom: 2px;
    border-bottom: 1px solid @light-gray;
    font-size: 16px;
    font-weight: 600;
  }
  @media @tablet {
    font-size: 12px;
  }
  @media @mobile {
    line-height: 20px;
  }
  &.hidden {
    visibility: hidden;
  }
}

.close-tooltip {
  display: none;
  @media @mobile {
    z-index: 100;
    display: block;
    float: right;
    font-size: 16px;
    padding: 2px;
    margin-top: -5px;
    padding-left: 10px;
  }
}

.flex-container {
  .display-flex();
  .align-items(center);
  &.props-map-flexbox {
    max-width: 1000px;
    margin: auto;
  }
  @media @phone-horiz {
    clear: both;
    display: block;
  }
}

#map-container-state-props {
  .flex(0 0 45%);
  @media @tablet-horiz {
    .flex(0 0 50%);
    margin-right: 5%;
  }
  @media @phone-horiz {
    .flex(0 0 100%);
    max-width: 350px;
    margin: auto;
    margin-bottom: 17%;
  }
  @media @mobile {
    margin-bottom: 15%;
  }
  @media @mini-mobile {
    max-width: 300px;
  }
}

.button-container {
  text-align: center;
  margin: 5px auto;
  margin-bottom: 10px;
  &.vertical {
    .flex(0 0 45%);
    @media @tablet-horiz {
      .flex(0 0 40%);
    }
    @media @phone-horiz {
      display: none;
    }
  }
  .button {
    width: 200px;
    font-family: @graphics;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
    .bold-button-number {
      font-family: @graphics;
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
    }
    @media @mobile {
      font-size: 14px;
      width: 49%;
    }
  }
  .camap {
    // width: 49%;
    width: 250px;
    font-size: 16px;
    @media @tablet-horiz {
      font-size: 14px;
    }
    margin: 0;
    padding: 7px;
    margin: 4px auto;
    // height: 50px;
    vertical-align: middle;
  }
  .prop {
    color: @dark-red;
    border: 1px solid @dark-red;
    &:hover {
      color: white;
      background: @dark-red;
    }
    &.active {
      color: white;
      background: @dark-red;
    }
  }
}

.drop-down {
  display: none;
  padding-bottom: 10px;
  @media @phone-horiz {
    display: block;
    text-align: center;
    .select-text {
      font-family: @graphics;
      font-size: 15px;
    }
    select {
      font-family: @graphics;
      font-weight: 600;
      font-size: 14px;
      background: lighten(@light-gray,5%);
      width: 90%;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}

.bayarea-section {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  @media @mobile {
    width: 100%;
  }
}

.race-block {
  padding-top: 30px;
  font-size: 18px;
  @media @mobile {
    padding-top: 20px;
  }
}

.Demparty, .GOPparty, .party {
  color: white;
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 4px;
  vertical-align: baseline;
  font-weight: 600;
}
.party {background-color: lighten(@yellow-map,10%);}
.Demparty { background-color: lighten(@blue-map,10%);}
.GOPparty {background-color: lighten(@red-map,10%);}

.cand-container {
  .display-flex();
  padding: 10px 0;
  .flex-wrap(wrap);
  .cand-line {
    .flex(0 0 50%);
    @media @mobile {
      .flex(0 0 100%);
    }
    .fa-star {
      padding-left: 2px;
      padding-right: 0;
      font-size: 8px;
      color: @dark-gray;
      vertical-align: text-top;
    }
  }
  // .cand-line:nth-child(2n){ order: 2;}
  // .cand-line:nth-child(2n+1) { order: 1; }

  // .cand-line:nth-of-type(2){ order: 2;}
  // .cand-line:nth-of-type(5) { order: 1; }
}

.expand-button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 2px 10px;
  border: 2px solid @dark-gray;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: Lora;
  letter-spacing: 0;
  &:hover {
    background: lighten(@light-gray,10%);
  }
  @media @mobile {
    padding-top: 3px;
  }
}

.expanded-races {
  display: none;
  &.displayraces {
    display: block;
  }
}

#superintendent-race0 {
  .NPparty {
    display: none;
  }
}
