@import (css) url('https://projects.sfchronicle.com/shared/fonts/font_lora.min.css');
@import (css) url('https://projects.sfchronicle.com/shared/fonts/font_pathway_gothic_one.min.css');
@import (css) url('https://projects.sfchronicle.com/shared/fonts/font_source_sans_pro.min.css');
@import (css) url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import "values";
@import "fonts";
@import "flexbox";
@import "sfchronicle";
@import "regions";
@import "project";


@body: Georgia, serif;
@body-bold: "Pierpont-bold", Georgia, serif;


#widget{
	max-width: 600px;
  margin: 1em auto;
  padding: 20px 0 0;
  text-align: center;
  font-size: 1em;
  border:1px solid #ccc;
  font-family: "Hackman-medium", Helvetica Neue, Helvetica, sans-serif;
}

.w-banner{
	max-width:450px;
	margin:0 auto;
	img{width: 100%}
}


#countdown {
	letter-spacing: 1px;
	display: none;
  text-transform: uppercase;
  font-size: 1em;

	@media @tablet{
		text-align: center;
    .flex(0 0 100%);
	}

  @media @mobile{
    font-size: 0.8em;
  }
}

#countdown-header{
  margin:5px 0;
}

.time{
	display: inline-block;
	padding-right: 10px;

  
}

.days,
.hours,
.minutes,
.seconds {
  
  font-size: 3em;
  color: red;
  line-height: 1;
  text-align: center;

  @media @mobile{
    font-size: 2em;
  }

}

.text {
  font-size: 1em;
  color: #333;
  clear: left;
  font-family: "Hackman-bold", Helvetica Neue, Helvetica, sans-serif;
  text-align: left;

  @media @mobile{
    font-size: 0.7em;
  }
}

#w-livechat{
  img{
    max-width:20px;
    vertical-align: sub;
  }


  @media @mobile{
    font-size:0.7em;
  }
}

#w-voterguide{
  img{
    max-width:20px;
    vertical-align: sub;
  }

  @media @mobile{
    font-size:0.7em;
  }
}

#w-races{
  font-family: @body;
  font-size: 16px;

  a{
    border-bottom: 2px solid @redlinks;
    color:#333;
    margin:0 5px;

    @media @mobile{
      font-size:14px;
    }
  }
}

.links{
  margin-top: 1em;
  padding: 5px 0 10px;
  background: #f1f1f1;
}

.link{
  font-size: 16px;

  a{
    color:#333;
    &:hover{
      border-bottom: 2px solid @redlinks;
    }
  }
}

.name {
  width: 170px !important;
}


.fa-check-circle-o {
  color: @green2;
}
.fa-times-circle-o {
  color: @red;
}

.instructions, 
.expand-button,
.regional-county-info,
.sup{
  display: none !important;
}
.race-block{
  padding-top: 0;
  text-align: left;
}

.w-race{
  font-family: 'Lora', Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;

  @media @mobile{
    border-bottom:none;
  }
}

.prop-name{
  font-size: 16px;
}

.races-container{
  margin-bottom: 1em; 
  .name {
    font-size: 14px;
  }
}

#liveresults{
  display: none;
}

.Demparty, .GOPparty, .party {
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Hackman-extrabold", Helvetica Neue, Helvetica, sans-serif;
  padding: 1px 3px 2px;
}

.regional-callout-flexy .regional-callout {
  .flex(0 0 100%);
  text-align: left;
  padding:0;
}

.top-flex-container, .regional-callout-flexy{
  .justify-content(normal);
}

#top-races-container {

  @media @mobile{
    padding: 0 10px;
  }
}

.top-flex-container .inner-flex{

  @media @mobile{
    .flex(1 0 48%);
    &:first-child{
      border-right: 1px solid #ccc;
      margin-right: 10px;
    }
  }
}

.races-container .candidate-precincts {

  @media @mobile{
    font-size: 10px; 
  }

}